<div class="container pt-5">
  <div class="mx-auto">
    <div class="card-group shadow border-0 animated fadeIn">
      <div class="card bg-secondary">
        <div class="card-header bg-white">
          <h4 class="card-title">Register</h4>
          <h6 class="card-subtitle text-muted">or <a routerLink="/login" routerLinkActive="true">sign in</a> with your
            existing account</h6>
        </div>

        <div class="card-body px-lg-5 py-lg-5">
          <form (ngSubmit)="submitForm()">
            <div class="form-group">
              <label for="email">Email</label>
              <input [(ngModel)]="email" type="email" class="form-control form-control-alternative" name="email" id="email"
                placeholder="coffee@beanmachine.pro" email>
            </div>

            <div class="form-group">
              <label for="displayName">Display Name</label>
              <input [(ngModel)]="displayName" type="text" class="form-control form-control-alternative" name="displayName"
                id="displayName" placeholder="Coffee Machine">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input [(ngModel)]="password" type="password" class="form-control form-control-alternative" name="password"
                id="password">
            </div>

            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input [(ngModel)]="passwordConfirmation" type="password" class="form-control form-control-alternative"
                name="confirmPassword" id="confirmPassword">

              <small class="small text-danger form-text" [hidden]="password === passwordConfirmation">This does not
                match
                your password</small>
            </div>

            <button (click)="submitForm()" type="submit" name="btnRegister" id="btnRegister" class="btn btn-primary btn-block"
              [disabled]="!(email && displayName && password && passwordConfirmation)">
              Sign me up
            </button>
          </form>
        </div>

        <div class="card-footer text-center">
          <span class="small text-muted">By signing up you agree to our <br /><a href="#">Privacy Policy</a> & <a href="#">Terms
              of Use</a></span>
        </div>
      </div>

      <div class="card d-md-flex d-none">
        <div class="card-body d-flex">
          <div class="align-self-center">
            <h4 class="display-3 font-weight-bold mb-1">Snip it like a boss</h4>

            <hr class="mt-0" />

            <div class="d-flex">
              <div>
                <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                  <i class="ni ni-cloud-upload-96"></i>
                </div>
              </div>
              <div class="pl-4 pr-4">
                <h5 class="title text-danger">Synchronize your snippets across your devices</h5>
                <p class="text-muted small">It doesn't matter whether you want to keep them up to date with Visual Studio or
                  any just with your local drive. We sync them the way you want for you.</p>
              </div>
            </div>

            <div class="d-flex mt-4">
              <div>
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-trophy"></i>
                </div>
              </div>
              <div class="pl-4 pr-4">
                <h5 class="title text-warning">Score up</h5>
                <p class="text-muted small">Vote snippets and let others discover common snippets with ease.</p>
              </div>
            </div>

            <div class="d-flex mt-4">
              <div>
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-trophy"></i>
                </div>
              </div>
              <div class="pl-4 pr-4">
                <h5 class="title text-success">Collaborate together</h5>
                <p class="text-muted small">Team up with others and work together on snippets.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>