<div class="card-columns">
  <div (click)="onClick.emit(snippet)" class="card card-lift--hover shadow-sm border-0 link full-height" *ngFor="let snippet of snippets">
    <div class="card-body py-4">
      <h5 class="card-title text-primary text-uppercase mb-0">{{snippet.title}}</h5>
      <p class="description">by <b class="bold">{{snippet.author.displayName}}</b></p>
      <p class="card-text"><small class="text-muted">Last updated {{snippet.createdAt | timeAgo}}</small></p>
      <div>
        <span *ngFor="let category of snippet.categories" class="badge badge-pill badge-primary mr-1">{{category.displayName}}</span>
      </div>
    </div>
  </div>
</div>