<div class="profile-page">
  <div class="my-1 container card-profile">
    <div class="row justify-content-center">
      <div class="col-md-6 align-self-center">
        <h3 class="m-0">{{user.displayName}}</h3>
      </div>
      <div class="col-md-6">
        <div class="card-profile-stats d-flex justify-content-end">
          <!-- TODO: Display values from API -->
          <div>
            <span class="heading">{{user.score}}</span>
            <span class="description">Karma</span>
          </div>
          <div>
            <span class="heading">{{userSnippets.length}}</span>
            <span class="description">Snippets</span>
          </div>
          <div>
            <span class="heading">0</span>
            <span class="description">Starred</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-secondary py-4">
  <div class="container">
    <div *ngIf="userSnippets.length === 0">
      <div>
        <h4>Oh snap</h4>
        {{user.displayName}} hasn't snipped anything yet.
      </div>
    </div>
    <app-snippets-deck [snippets]="userSnippets" (onItemClick)="navigateToSnippetById($event.snippetId)"></app-snippets-deck>
  </div>
</div>