<div class="bg-secondary py-3">
  <h5 class="container title my-0">
    {{snippet.title}} <span class="text-muted small">by {{snippet.author.displayName}}</span>

    <span class="float-right">
      <div class="btn-group mr-3" role="group">
        <button class="btn btn-outline-success btn-sm" (click)="downloadSnippet()"><i class="ni ni-like-2"></i></button>
        <button class="btn btn-outline-danger btn-sm" (click)="downloadSnippet()"><i class="ni ni-like-2 flip-180"></i></button>
      </div>

      <button class="btn btn-primary btn-sm" (click)="downloadSnippet()" disabled>Download</button>
    </span>
  </h5>
</div>

<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-md-auto full-height no-padding" sticky>
      <div>
        <h5>{{snippet.score}}</h5>
      </div>
    </div>

    <div class="col-md">
      <div class="card shadow-sm bg-secondary">
        <pre><code highlight [textContent]="snippet.content" class="padding"></code></pre>
        <!-- <div class="card-body">{{snippet.content}}</div> -->
      </div>
    </div>
  </div>
</div>