<h2>Hey @Model.DisplayName!</h2>

Thanks for signing up on Snippets DB. We need to verify your account to ensure you're not a robot.
<br /><br />
Just follow the link and you'll be able to submit and contribute to snippets soon:

<br />
<a href="@Model.VerificationUrl" target="_blank">Verify me</a>

<br />
<br />

Cheers

<hr />

<div class="bg-light p-3">
    <small class="text-muted small">
        Fork us on GitHub
    </small>
</div>
